<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <title>About</title>
</head>
<style>
  a {color: dodgerblue; font-size: x-large; text-decoration: none;}
  h2 {color: darkviolet;}
</style>
<body>
  <div class="container text-center">
    <h1>
      Hello this site is create by Soroush
    </h1>
    <h2>This is first Django site that I create</h2>
    <h3>I am a computer engineering graduated from bonab university</h3>  
    <a href="{% url 'home' %}" class="btn btn-warning">Back to Home</a>
  </div>
</body>
</html>